{<<"app">>,<<"cwmp_ex">>}.
{<<"build_tools">>,[<<"mix">>]}.
{<<"description">>,<<"A module that implements the CWMP protocol">>}.
{<<"elixir">>,<<"~> 1.13">>}.
{<<"files">>,
 [<<"lib">>,<<"lib/parse_error.ex">>,<<"lib/generate.ex">>,<<"lib/generate">>,
  <<"lib/generate/get_rpc_methods.ex">>,
  <<"lib/generate/cancel_transfer_response.ex">>,
  <<"lib/generate/autonomous_transfer_complete.ex">>,
  <<"lib/generate/get_queued_transfers_response.ex">>,
  <<"lib/generate/upload.ex">>,<<"lib/generate/get_queued_transfers.ex">>,
  <<"lib/generate/get_parameter_names_response.ex">>,
  <<"lib/generate/kicked_response.ex">>,
  <<"lib/generate/change_du_state_response.ex">>,
  <<"lib/generate/schedule_inform_response.ex">>,
  <<"lib/generate/delete_object_response.ex">>,<<"lib/generate/inform.ex">>,
  <<"lib/generate/set_parameter_values_response.ex">>,
  <<"lib/generate/factory_reset_response.ex">>,
  <<"lib/generate/transfer_complete_response.ex">>,
  <<"lib/generate/autonomous_transfer_complete_response.ex">>,
  <<"lib/generate/inform_response.ex">>,
  <<"lib/generate/schedule_download.ex">>,<<"lib/generate/helpers.ex">>,
  <<"lib/generate/get_all_queued_transfers.ex">>,
  <<"lib/generate/schedule_inform.ex">>,
  <<"lib/generate/download_response.ex">>,
  <<"lib/generate/autonomous_du_state_change_complete_response.ex">>,
  <<"lib/generate/get_options.ex">>,
  <<"lib/generate/get_rpc_methods_response.ex">>,
  <<"lib/generate/cancel_transfer.ex">>,
  <<"lib/generate/get_parameter_names.ex">>,
  <<"lib/generate/du_state_change_complete_response.ex">>,
  <<"lib/generate/upload_response.ex">>,<<"lib/generate/download.ex">>,
  <<"lib/generate/set_parameter_values.ex">>,
  <<"lib/generate/reboot_response.ex">>,<<"lib/generate/factory_reset.ex">>,
  <<"lib/generate/set_vouchers_response.ex">>,<<"lib/generate/header.ex">>,
  <<"lib/generate/get_parameter_values_response.ex">>,
  <<"lib/generate/get_parameter_attributes_response.ex">>,
  <<"lib/generate/autonomous_du_state_change_complete.ex">>,
  <<"lib/generate/get_parameter_values.ex">>,
  <<"lib/generate/set_vouchers.ex">>,<<"lib/generate/delete_object.ex">>,
  <<"lib/generate/schedule_download_response.ex">>,
  <<"lib/generate/get_parameter_attributes.ex">>,
  <<"lib/generate/add_object_response.ex">>,
  <<"lib/generate/get_all_queued_transfers_response.ex">>,
  <<"lib/generate/get_options_response.ex">>,
  <<"lib/generate/set_parameter_attributes_response.ex">>,
  <<"lib/generate/request_download_response.ex">>,
  <<"lib/generate/transfer_complete.ex">>,
  <<"lib/generate/request_download.ex">>,<<"lib/generate/kicked.ex">>,
  <<"lib/generate/set_parameter_attributes.ex">>,
  <<"lib/generate/du_state_change_complete.ex">>,
  <<"lib/generate/change_du_state.ex">>,<<"lib/generate/add_object.ex">>,
  <<"lib/generate/fault.ex">>,<<"lib/generate/reboot.ex">>,
  <<"lib/parser.ex">>,<<"lib/generator.ex">>,<<"lib/parser">>,
  <<"lib/parser/get_rpc_methods.ex">>,
  <<"lib/parser/cancel_transfer_response.ex">>,
  <<"lib/parser/autonomous_transfer_complete.ex">>,
  <<"lib/parser/set_parameter_attributes_struct.ex">>,
  <<"lib/parser/get_queued_transfers_response.ex">>,
  <<"lib/parser/arg_struct.ex">>,<<"lib/parser/upload.ex">>,
  <<"lib/parser/get_queued_transfers.ex">>,
  <<"lib/parser/get_parameter_names_response.ex">>,
  <<"lib/parser/kicked_response.ex">>,
  <<"lib/parser/change_du_state_response.ex">>,
  <<"lib/parser/schedule_inform_response.ex">>,
  <<"lib/parser/delete_object_response.ex">>,<<"lib/parser/inform.ex">>,
  <<"lib/parser/set_parameter_values_response.ex">>,
  <<"lib/parser/factory_reset_response.ex">>,
  <<"lib/parser/op_result_struct.ex">>,
  <<"lib/parser/all_queued_transfer_struct.ex">>,
  <<"lib/parser/transfer_complete_response.ex">>,
  <<"lib/parser/autonomous_transfer_complete_response.ex">>,
  <<"lib/parser/queued_transfer_struct.ex">>,
  <<"lib/parser/inform_response.ex">>,<<"lib/parser/schedule_download.ex">>,
  <<"lib/parser/parameter_attribute_struct.ex">>,<<"lib/parser/helpers.ex">>,
  <<"lib/parser/get_all_queued_transfers.ex">>,
  <<"lib/parser/schedule_inform.ex">>,<<"lib/parser/download_response.ex">>,
  <<"lib/parser/autonomous_du_state_change_complete_response.ex">>,
  <<"lib/parser/get_options.ex">>,
  <<"lib/parser/get_rpc_methods_response.ex">>,
  <<"lib/parser/cancel_transfer.ex">>,<<"lib/parser/get_parameter_names.ex">>,
  <<"lib/parser/du_state_change_complete_response.ex">>,
  <<"lib/parser/upload_response.ex">>,<<"lib/parser/download.ex">>,
  <<"lib/parser/set_parameter_values.ex">>,
  <<"lib/parser/reboot_response.ex">>,<<"lib/parser/factory_reset.ex">>,
  <<"lib/parser/set_vouchers_response.ex">>,
  <<"lib/parser/get_parameter_values_response.ex">>,
  <<"lib/parser/get_parameter_attributes_response.ex">>,
  <<"lib/parser/time_window_struct.ex">>,
  <<"lib/parser/autonomous_du_state_change_complete.ex">>,
  <<"lib/parser/option_struct.ex">>,<<"lib/parser/get_parameter_values.ex">>,
  <<"lib/parser/set_vouchers.ex">>,<<"lib/parser/parameter_value_struct.ex">>,
  <<"lib/parser/envelope.ex">>,<<"lib/parser/parameter_info_struct.ex">>,
  <<"lib/parser/delete_object.ex">>,
  <<"lib/parser/auton_op_result_struct.ex">>,
  <<"lib/parser/schedule_download_response.ex">>,
  <<"lib/parser/get_parameter_attributes.ex">>,
  <<"lib/parser/add_object_response.ex">>,
  <<"lib/parser/get_all_queued_transfers_response.ex">>,
  <<"lib/parser/get_options_response.ex">>,
  <<"lib/parser/install_op_struct.ex">>,
  <<"lib/parser/set_parameter_attributes_response.ex">>,
  <<"lib/parser/request_download_response.ex">>,
  <<"lib/parser/transfer_complete.ex">>,<<"lib/parser/update_op_struct.ex">>,
  <<"lib/parser/request_download.ex">>,<<"lib/parser/kicked.ex">>,
  <<"lib/parser/uninstall_op_struct.ex">>,
  <<"lib/parser/set_parameter_attributes.ex">>,
  <<"lib/parser/du_state_change_complete.ex">>,
  <<"lib/parser/change_du_state.ex">>,<<"lib/parser/add_object.ex">>,
  <<"lib/parser/fault.ex">>,<<"lib/parser/fault_struct.ex">>,
  <<"lib/parser/reboot.ex">>,<<"lib/protocol.ex">>,<<"lib/types">>,
  <<"lib/types/get_rpc_methods.ex">>,
  <<"lib/types/cancel_transfer_response.ex">>,
  <<"lib/types/autonomous_transfer_complete.ex">>,
  <<"lib/types/set_parameter_attributes_struct.ex">>,
  <<"lib/types/x509_data_struct.ex">>,
  <<"lib/types/get_queued_transfers_response.ex">>,
  <<"lib/types/arg_struct.ex">>,<<"lib/types/upload.ex">>,
  <<"lib/types/get_queued_transfers.ex">>,
  <<"lib/types/get_parameter_names_response.ex">>,
  <<"lib/types/event_struct.ex">>,<<"lib/types/kicked_response.ex">>,
  <<"lib/types/change_du_state_response.ex">>,
  <<"lib/types/x509_issuer_serial_struct.ex">>,
  <<"lib/types/schedule_inform_response.ex">>,
  <<"lib/types/delete_object_response.ex">>,<<"lib/types/inform.ex">>,
  <<"lib/types/set_parameter_values_response.ex">>,
  <<"lib/types/factory_reset_response.ex">>,
  <<"lib/types/op_result_struct.ex">>,
  <<"lib/types/all_queued_transfer_struct.ex">>,
  <<"lib/types/transfer_complete_response.ex">>,
  <<"lib/types/autonomous_transfer_complete_response.ex">>,
  <<"lib/types/queued_transfer_struct.ex">>,
  <<"lib/types/inform_response.ex">>,<<"lib/types/schedule_download.ex">>,
  <<"lib/types/parameter_attribute_struct.ex">>,
  <<"lib/types/delete_object_request.ex">>,
  <<"lib/types/get_all_queued_transfers.ex">>,
  <<"lib/types/schedule_inform.ex">>,<<"lib/types/download_response.ex">>,
  <<"lib/types/autonomous_du_state_change_complete_response.ex">>,
  <<"lib/types/get_options.ex">>,<<"lib/types/get_rpc_methods_response.ex">>,
  <<"lib/types/cancel_transfer.ex">>,<<"lib/types/get_parameter_names.ex">>,
  <<"lib/types/du_state_change_complete_response.ex">>,
  <<"lib/types/upload_response.ex">>,<<"lib/types/download.ex">>,
  <<"lib/types/set_parameter_values.ex">>,<<"lib/types/reboot_response.ex">>,
  <<"lib/types/key_info_struct.ex">>,<<"lib/types/factory_reset.ex">>,
  <<"lib/types/set_vouchers_response.ex">>,<<"lib/types/header.ex">>,
  <<"lib/types/get_parameter_values_response.ex">>,
  <<"lib/types/get_parameter_attributes_response.ex">>,
  <<"lib/types/time_window_struct.ex">>,<<"lib/types/add_object_request.ex">>,
  <<"lib/types/autonomous_du_state_change_complete.ex">>,
  <<"lib/types/option_struct.ex">>,<<"lib/types/get_parameter_values.ex">>,
  <<"lib/types/set_vouchers.ex">>,<<"lib/types/parameter_value_struct.ex">>,
  <<"lib/types/parameter_info_struct.ex">>,
  <<"lib/types/auton_op_result_struct.ex">>,
  <<"lib/types/schedule_download_response.ex">>,
  <<"lib/types/get_parameter_attributes.ex">>,
  <<"lib/types/add_object_response.ex">>,
  <<"lib/types/get_all_queued_transfers_response.ex">>,
  <<"lib/types/get_options_response.ex">>,
  <<"lib/types/install_op_struct.ex">>,
  <<"lib/types/get_parameter_value_struct.ex">>,
  <<"lib/types/set_parameter_attributes_response.ex">>,
  <<"lib/types/xml_signature_struct.ex">>,
  <<"lib/types/request_download_response.ex">>,
  <<"lib/types/transfer_complete.ex">>,<<"lib/types/update_op_struct.ex">>,
  <<"lib/types/request_download.ex">>,<<"lib/types/kicked.ex">>,
  <<"lib/types/uninstall_op_struct.ex">>,
  <<"lib/types/set_parameter_attributes.ex">>,
  <<"lib/types/du_state_change_complete.ex">>,
  <<"lib/types/change_du_state.ex">>,<<"lib/types/device_id_struct.ex">>,
  <<"lib/types/fault.ex">>,<<"lib/types/key_value_struct.ex">>,
  <<"lib/types/sv_option_struct.ex">>,<<"lib/types/fault_struct.ex">>,
  <<"lib/types/reboot.ex">>,<<"mix.exs">>,<<"README.md">>]}.
{<<"licenses">>,[<<"Artistic">>]}.
{<<"links">>,[{<<"GitHub">>,<<"https://github.com/Fullrate/cwmp_ex">>}]}.
{<<"name">>,<<"cwmp_ex">>}.
{<<"requirements">>,
 [[{<<"app">>,<<"poison">>},
   {<<"name">>,<<"poison">>},
   {<<"optional">>,false},
   {<<"repository">>,<<"hexpm">>},
   {<<"requirement">>,<<"~> 5.0.0">>}],
  [{<<"app">>,<<"xml_builder">>},
   {<<"name">>,<<"xml_builder">>},
   {<<"optional">>,false},
   {<<"repository">>,<<"hexpm">>},
   {<<"requirement">>,<<"~> 2.2.0">>}],
  [{<<"app">>,<<"erlsom">>},
   {<<"name">>,<<"erlsom">>},
   {<<"optional">>,false},
   {<<"repository">>,<<"hexpm">>},
   {<<"requirement">>,<<"~> 1.5.0">>}]]}.
{<<"version">>,<<"0.2.7">>}.
